* {
}

body {
    height: 1100px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhjSKKu4RINT-HUqa_bta6wnXmFssz4MGaJQ&usqp=CAU);
}

footer {
    position: absolute;
    top: 1000px;
}

.link1 {
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 550px;
    display: flex;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0bOIZ6vzNo9Hn12nl6m5_afFavbfz5c9AJw&usqp=CAU);
    background-size: 110px;
    background-repeat: no-repeat;
    border: solid;
    border-color: blue;
    width: 90px;
    text-align: center;
}

.link2 {
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 675px;
    display: flex;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0bOIZ6vzNo9Hn12nl6m5_afFavbfz5c9AJw&usqp=CAU);
    background-size: 110px;
    background-repeat: no-repeat;
    border: solid;
    border-color: blue;
    width: 90px;
    text-align: center;
}

.link3 {
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 800px;
    display: flex;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0bOIZ6vzNo9Hn12nl6m5_afFavbfz5c9AJw&usqp=CAU);
    background-size: 110px;
    background-repeat: no-repeat;
    border: solid;
    border-color: blue;
    width: 90px;
}

.profile{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 925px;
    border: solid;
    border-color: blue;
}

/*Resize images*/
.profile img{
    width: 100%;
    height: auto;
}

 .name {
    position: absolute;
    border: solid;
    border-color: blue;
    height: 90px;
    width: 525px;
    top: 0px;
    left: 0px;
    font-size: 75px;
    color: aqua;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS360M6L9ukEgWHcw1mGHz6prekWvH1p-KxFIdoLVv9YaeKl8dOUN8O6fJ4l4hBXq4U3vs&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 600px;
}

.myself {.
    padding: auto;
    position: absolute;
    border: solid;
    border-color: blue;
    left: 875px;
    top: 350px;
    font-size: 30px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrgBZnHk-jBr1vPVAq3FJydlutxjplA6Q89w&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 600px;
    width: 1000px;
    text-align: center;
    vertical-align:middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

.contact {
    position: absolute;
    left: 1325px;
    top: 0px;
    font-size: 25px;
    text-align: right;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR52fGtjbhgi-QDffjJKMCvbPcigD6TwfvQXA&usqp=CAU);
    background-size: 500px;
    background-repeat: no-repeat;
    background-size: 550px;
    height: 300px;
    width: 550px;
    color: deepskyblue;
    border: solid;
    border-color: blue;
    height: 300px;
    width: 500px;
}

.projectstitle {
    position: absolute;
    border: solid;
    border-color: blue;
    height: 100px;
    width: 200px;
    left: 100px;
    top: 300px;
    color: darkorchid;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRglHOLR48DqhAbhfgJT7BUz29J7OfcP6D6b41prsjcSeVn_3BjRvv-OHiALl8Beofh2Sg&usqp=CAU);
}

.application1 {
    position: absolute;
    left: 50px;
    top: 500px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUyAyQ84iidaHcUHYzPAk-tRUgN0SRyJiKJg&usqp=CAU);
    background-size: 700px;
    background-repeat: no-repeat;
    height: 390px;
    width: 700px;
    border: solid;
    border-color: blue;
}

.application2 {
    position: absolute;
    left: 75px;
    top: 950px;
    border: solid;
    border-color: blue;
    height: 100px;
    width: 200px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZlxNlXaJpzyTUg0UGNpAXpekJq1r-EulCOQ&usqp=CAU);
}

.application3 {
    position: absolute;
    top: 950px;
    left: 400px;
    border: solid;
    border-color: blue;
    height: 100px;
    width: 200px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5uxxPvYY8Rv59YsdLzGBveIy37gPrieboPw&usqp=CAU);
}

@media screen and (max-width: 1150px) {
      body {
        width: auto;
  }
}